# Python virtual environment
backend/venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Frontend dependencies
frontend/node_modules/
node_modules/

# Build files
dist/
build/